In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [6]:
# set file path for csv
final_df = "final_df.csv"
# file_2 = "../Resources/imdb_rating_data.csv"

In [7]:
# read in csv file to notebook
final_df = pd.read_csv(final_df, low_memory = False)
final_df.head()

,Unnamed: 0,tconst,primaryTitle,startYear,runtimeMinutes,genres,averageRating,numVotes
0,9,tt0000009,Miss Jerry,1894,45,Romance,5.3,89
1,412,tt0000574,The Story of the Kelly Gang,1906,70,"Biography,Crime,Drama",6.1,562
2,481,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy",4.8,34
3,781,tt0001184,Don Juan de Serrallonga,1910,58,"Adventure,Drama",3.1,11
4,813,tt0001258,The White Slave Trade,1910,45,Drama,5.7,79

In [ ]:
# Split up data into groups based on year released
year_group = final_df.groupby('startYear')
year_group.head()

In [ ]:
years = final_df['startYear'].unique()
years

In [ ]:
# # Find number of movies in each year
no_released = year_group['primaryTitle'].count()
no_released

In [ ]:
# # Find sum of ratings for each year
rating_sum = year_group['averageRating'].sum()
rating_sum

In [ ]:
# # # # Find average rating of all movies in each year
avg_by_year = rating_sum / no_released
avg_by_year

In [ ]:
# Create scatter plot to compare average ratings by year
x_values = years
y_values = avg_by_year
plt.scatter(x_values, y_values)
plt.xlabel('Years')
plt.ylabel('Average Rating')
plt.show()

In [ ]:
# # Create equation of line to calculate predicted movie rating based on year
# slope, int, r, p, std_err = stats.linregress(x_values, y_values)
# # Plot the linear model on top of scatter plot 
# fit = slope * x_values + int
# x_values = years
# y_values = avg_by_year
# plt.scatter(x_values,y_values)
# plt.plot(x_values,fit,"--")
# plt.xlabel('Year')
# plt.ylabel('Average Rating')
# plt.show()

In [ ]:
# Create scatter plot to compare average ratings by year
x_values = no_released
y_values = avg_by_year
plt.scatter(x_values, y_values)
plt.xlabel('Average Rating')
plt.ylabel('# of Movies Released')
plt.show()

In [ ]:
# Create equation of line to calculate predicted violent crime rate
no_slope, no_int, no_r, no_p, no_std_err = stats.linregress(x_values, y_values)
# Plot the linear model on top of scatter plot 
no_fit = no_slope * x_values + no_int
x_values = no_released
y_values = avg_by_year
plt.scatter(x_values,y_values)
plt.plot(x_values,no_fit,"--")
plt.xlabel('# of Movies Released')
plt.ylabel('Average Rating')
plt.show()